.socket {
  width: 80px;
  height: 40px;
  border-radius: 40px;
  background-color: #d5f3fe;
  border: 2.5px solid #3c99dc;
}

.socket.night {
  background-color: #696969;
  border: 2.5px solid #000000;
}

.sun {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffd700;
  border: 2.5px solid #ffa500;
  margin-top: 2px;
  transition: all 0.3s linear;
}

.sun.night {
  background-color: #f5f5dc;
  border: 2.5px solid #778899;
  margin-top: 2px;
  /* position: relative; */
  /* left: 45px; */
  transform: translate(45px, 0);
}

.shade {
  position: relative;
  left: 30px;
}

.shade.night {
  transform: translate(-23px, 0);
}

.sm {
  width: 20px;
  height: 3px;
  position: inherit;
  top: -3px;
  background-color: #ffff;
  border-radius: 50%;
}

.md {
  position: inherit;
  left: 7px;
  top: -20px;
  width: 30px;
  height: 5px;
  border-radius: 100%;
  background-color: #ffff;
}
