@import "~antd/dist/antd.css";

.number {
  display: grid;
  grid-template: repeat(3, 40px) / repeat(3, 35px);
  column-gap: 5px;
}

.equation {
  grid-column-start: 2;
  grid-column-end: 4;
}

.mathFunction {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 151px;
}

.mathFunction > * {
  margin-bottom: 8px;
}

.container {
  display: flex;
}

.output {
  border: 2px solid rebeccapurple;
  width: 160px;
  height: 40px;
  display: flex;
  flex-direction: column;
}

.ans {
  font-weight: 100;
  font-size: 10px;
}
