@import "~antd/dist/antd.css";

#root {
  background-color: seashell;
  width: 80%;
  height: 60%;
  margin: 0 10%;
  box-shadow: 0 0 10px #ccc;
  border-radius: 20px;
}

.calculator {
  width: 75%;
  height: 80%;
  margin: 10% 12.5%;
}

.theme-toggle {
  width: 65%;
  text-align: center;
  margin: 0 20%;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  #root {
    width: 40%;
    height: 60%;
    margin: auto;
    max-width: 428px;
    max-height: 428px;
  }

  .calculator {
    width: 50%;
    margin: 10% 25%;
  }

  .theme-toggle {
    width: 50%;
  }
}

.number {
  flex-basis: 70%;
  display: grid;
  grid-template: repeat(3, 40px) / repeat(3, 35px);
  column-gap: 15px;
  row-gap: 10px;
}

.equation {
  grid-column-start: 2;
  grid-column-end: 4;
}

.mathFunction {
  flex-basis: 30%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.mathFunction > * {
  margin-bottom: 8px;
}

.container {
  display: flex;
  margin-top: 10px;
}

.output {
  border: 0.5px solid grey;
  width: 100%;
  height: 46px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: right;
  justify-content: space-between;
  padding-right: 5px;
}

.evaluation {
  font-weight: 500;
  font-size: 16px;
}
.ans {
  font-weight: 100;
  font-size: 12px;
}

.functionKey-top {
  display: flex;
  justify-content: space-between;
}

.ant-btn-primary {
  background-color: #db7093;
  border-color: grey;
}

.ant-btn-primary.night {
  background-color: #090947;
}

.ant-btn-background-ghost.ant-btn-primary {
  border-color: #db7093;
  color: #db7093;
}

.ant-btn-background-ghost.ant-btn-primary.night {
  border-color: #090947;
  color: #090947;
}
